body{
    text-align: center;
    padding: 0;
}
form {
    margin-top:10%;
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
    display: inline-block;
}

div{
    margin-bottom:10px;
}

label{
    color:Red; 
    display:none;
}

h2{
    color:rgb(32, 211, 243);
}

input[type=button]{
    width: 25%;
    display: inline-block;
    background-color: transparent;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
